node_modules
openapi.json
.idea
swagger.json
dist
yarn-error.log
config.json
yarn-error.log
configs
certs
/hotkey-hub
examples
coverage
build
cmake-build-debug
json-schema.json
macros-schema.json
CONFIG.md
a.ts